.admin-layout {
  display: flex;
  flex-direction: row !important;
}

.custom-table .ant-table-thead > tr > th {
  background: #fff;
  border-bottom: 1px solid #f0f0f0;
  font-weight: 500;
}

.ant-table-tbody > tr:hover > td {
  background: #fafafa;
}

/* src/styles/AdminSidebar.css */
.ant-table-column-sorter {
  margin-left: 4px;
}

.cursor-pointer {
  cursor: pointer;
  user-select: none;
}

.cursor-pointer:hover {
  color: #1890ff;
}

.log-out {
    display: flex;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    text-align: start !important;
    
}
.log-out:hover {
    transition: 0.5s ease;
    background-color: rgba(236, 99, 99, 0.826);
}

.category-table .ant-table-thead > tr > th {
  background: #fafafa !important;
  font-weight: 600;
}

.category-table .ant-table-tbody > tr:hover > td {
  background: #f9f9f9;
}

.category-table .ant-input {
  border-radius: 6px;
}