.ant-layout-sider-children {
    background-color: white;
}

.ant-layout {
    background-color: white;
}

.main-admin {
    margin-top: 80px;
    text-decoration: none;
}

.ManagerPost {
    position: relative;
}